<div ng-controller="TodoItemController as todo">

    <div ng-show="todo.item.url && !todo.item.response">Loading...</div>

    <form ng-show="todo.item.response" class="form-horizontal" role="form" name="theForm" novalidate>
        <h1>{{ todo.item.response._links.update.schema.description }}</h1>

        <json-schema-form-fields
            item="todo.item.response"
            schema="todo.item.response._links.update.schema"
            >
        </json-schema-form-fields>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" ng-disabled="theForm.$invalid" ng-click="todo.item.update()">
                    <span class="glyphicon glyphicon-save"></span>
                    Save
                </button>
                <button class="btn btn-link" ng-click="todo.item.fetch()">
                    <span class="glyphicon glyphicon-refresh"></span>
                    Revert
                </button>
                <button class="btn btn-danger pull-right"
                        ng-disabled="!todo.item.response._links.delete" ng-click="todo.delete(todo.item)">
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                </button>
            </div>
        </div>

    </form>

    <hr/>
    <a href="#/todo">Back</a>
</div>