<div ng-controller="TodoListController as todo">
    <h1>Todo</h1>

    <div ng-hide="todo.todosResource.items">Loading...</div>

    <form ng-show="todo.todosResource.items">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in todo.todosResource.items">
                <input type="checkbox" ng-model="item.response.done" ng-change="item.update()"/>
                <a href="#/todo/{{ item.url | encodeURIComponent | encodeURIComponent }}"
                   ng-class="{'done': item.response.done}">{{ item.response.title }}
                </a>
            </li>
        </ul>
    </form>

    <div ng-show="todo.todosResource.response._links.create">
        <hr/>

        <div class="panel panel-default">
            <div class="panel-heading" ng-click="showNew = !showNew">
                <h3 class="panel-title" ng-class="{'dropup': showNew}">
                    New {{ todo.todosResource.response._links.create.schema.description }}
                    <span class="caret"></span>
                </h3>
            </div>
            <div class="panel-body" ng-show="showNew">
                <form ng-show="todo.todosResource.response._links.create" class="form-horizontal" role="form"
                      name="theForm" novalidate>
                    <json-schema-form-fields
                        item="todo.newItem"
                        schema="todo.todosResource.response._links.create.schema"
                        >
                    </json-schema-form-fields>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-primary"
                                    ng-disabled="theForm.$invalid || theForm.$pristine"
                                    ng-click="todo.create(todo.todosResource, todo.newItem)">
                                <span class="glyphicon glyphicon-plus"></span>
                                Create
                            </button>
                            <button class="btn btn-link"
                                    ng-disabled="theForm.$pristine" ng-click="todo.clear(todo.newItem)">
                                <span class="glyphicon glyphicon-star-empty"></span>
                                Revert
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <hr/>
    <a href="#/">Back</a>
</div>